body {
    border: 1rem solid var(--black-001);
    background-color: var(--black-001);
    font-weight: 800;
}

button {
    font-weight: 800;
}

h4 {
    font-size: 2rem;
}
.overlay {
    height: 100vh;
    width: 100vw;
    background: var(--black-001);
    color: var(--white-001);
    text-align: center;
    box-sizing: border-box;
    padding: 10rem;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay-main {
    z-index: 4;
}

.overlay-main h1 {
    font-size: 8rem;
}

.overlay-main li {
    font-size: 1.8rem;
    margin: 0.5rem;
}

.overlay-countdown h2 {
    font-size: 20rem;
    margin-top: 6rem;
}

.overlay-3 {
    z-index: 3;
}

.overlay-2 {
    z-index: 2;
}

.overlay-1 {
    z-index: 1;
}

.overlay-score {
    z-index: 5;
}

.overlay button {
    padding: 2rem;
    width: 20rem;
    border-radius: 0.8rem;
    border: 0.4rem solid var(--black-001);
    box-shadow: none;
    font-size: 2rem;
    margin: 5rem;
}

.overlay button:hover {
    background-color: var(--black-001);
    color: var(--white-001);
    border: 0.4rem solid var(--white-001);
    font-size: 3rem;
    width: 28rem;
}

ul {
    list-style-type: none
}

.game-screen {
    position: relative;
}

.navbar {
    background-color: black;
    position: absolute;
    left: -1rem;
    width: 100vw;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.navbar button {
    border: 0.3rem solid var(--grey-001);
    border-radius: 0.8rem;
    background: var(--black-001);
    color: var(--white-001);
    width: 10rem;
    height: 4rem;
    padding: 1rem;
}

.navbar .tool {
    width: 12rem;
    height: 6rem;
    margin-left: -1rem;
    margin-right: -1rem;
    font-size: 1.4rem;
}

.navbar .tool:hover {
    margin-top: -1rem;
    width: 16rem;
    height: 8rem;
    margin-left: -2.6rem;
    margin-right: -3.4rem;
}

#navbar-btn-chosen {
    background-color: var(--grey-001);
    color: var(--black-001);
}

.game-board {
    position: absolute;
    top: 10rem;
    left: 6rem;
    height: 42rem;
    width: 103rem;
    display: grid;
    grid-template-columns: repeat(17, 6rem);
    grid-template-rows: repeat(7, 6rem);
    border: 0.3rem solid var(--grey-001);
    border-radius: 0.4rem;
    padding: 1rem;
    padding-left: 1.6rem;
}

.gameboard-adjust {
    left: 10rem;
}

.navbar-adjust {
    left: 16rem;
    width: 80vw;
}

.empty-space {
    background-color: var(--black-001);
}

.game-board [data-type] {
    background-size: 60%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

[data-type="circle"] {
    background-image: url('../assets/imgs/circle.svg');
}

[data-type="star"] {
    background-image: url('../assets/imgs/star.svg');
}

[data-type="square"] {
    background-image: url('../assets/imgs/square.svg');
}

.fade-tile {
    filter: grayscale(1);
}

.inventory {
    position: absolute;
    top: 2.2rem;
    width: 8rem;
    height: 52rem;
    border-radius: 0.4rem;
    background-color: var(--black-001);
    border: 0.3rem solid var(--grey-001);
    color: var(--white-001);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.9rem;
}

.inventory h3 {
    text-align: center;
    margin-top: 1.2rem;
    font-size: 1.6rem;
}

.inventory-tile {
    margin-left: 1rem;
    margin-top: 4rem;
}

.inventory-tile {
    height: 6rem;
    width: 6rem;
    margin-bottom: 0.5rem;
    background-size: 60%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.cursor-circle {
    cursor: url('../assets/imgs/white-circle.svg'), pointer;
}

.cursor-square {
    cursor: url('../assets/imgs/white-square.svg'), pointer;
}

.cursor-star {
    cursor: url('../assets/imgs/white-star.svg'), pointer;
}